.zoom_slick {
	width: 48%;
	float: left
}

.zoom_slick .slick2 {
	border: 1px solid #DDD;
	overflow: hidden
}

.zoom_slick .slick {
	margin-top: 5px
}

.zoom_slick .slick img {
	width: 90%;
	margin: auto;
	border: 1px solid #DDD;
	box-sizing: border-box;
	padding: 2px
}

.zoom_slick .slick img:hover {
	border: 1px solid #F60;
	opacity: 0.5;
	transition: 1s
}

.product_info {
	float: right;
	list-style: none;
	width: 50%
}

.product_info li {
	padding: 6px 0;
	float: left;
	width: 100%;
	border-bottom: 1px dotted #EEE
}

.product_info li.ten {
	color: #222;
	font-size: 24px;
	text-transform:  capitalize;
}
.product_info li.giacu {
	font-size: 15px;
	text-decoration: line-through
}

.product_info li.gia {
	color: #d00000;
	font-family: "MYRIADPRO";
	font-size: 27px;
	text-shadow: 1px 1px 0 #ffffff, 2px 2px 1px #bbb9ca
}

.sanpham_chitiet {
	color: #3a4346;
	font-weight: 400;
	font-size: 24px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 10px
}

.product_info li b {
	font-size: 14px;
	font-weight: normal
}

.product_info li .txt_giany {
	font-size: 16px
}

.product_info li .txt_giany span.gnt {
	text-decoration: line-through
}

.product_info li .txt_tietkiem {
	color: #333;
}
.product_info li .txt_tietkiem span
{
	color: #ff0000;
	font-size: 16px;
}

.xemgiohang {
	color: #E80019;
	display: block;
	width: 120px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	text-align: center;
	font-family: 'Roboto-Bold';
	cursor: pointer;
	font-size: 13px;
	transition: 0.4s;
	margin: auto;
	margin-top: 7px
}

.mybtn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 30px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center
}

.mybtn.btn-5 {
	background: #F44336;
	color: #fff;
	font-size: 13px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden
}

.mybtn.btn-5:hover {
	background: #D32F2F
}

.mybtn.btn-5:active {
	background: #D32F2F;
	top: 2px
}

.mybtn.btn-5 span {
	display: inline-block;
	width: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden
}

.mybtn.btn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s
}

.mybtn.btn-5:active:before {
	color: #fff
}

.mybtn.btn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%)
}

.mybtn.btn-5a:before {
	left: 0;
	top: -100%
}

.mybtn.btn-5a:hover:before {
	top: 0
}

.mybtn.icon-cart:before {
	font-family: "FontAwesome";
	content: "\f07a"
}

span.size {
	display: inline-block;
	padding: 2px 10px;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin-right: 5px;
	cursor: pointer
}

span.mausac {
	display: block;
	float: left;
	border: 1px solid #DDD;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	cursor: pointer;
	font-size: 0
}

span.active_size, span.size:hover, span.mausac:hover, span.active_mausac {
	position: relative
}

span.active_size:after, span.size:hover:after, span.mausac:hover:after, span.active_mausac:after {
	background: url(../images/check.png) no-repeat bottom left;
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-size: 100%;
	content: '';
	border-top: 1px solid #fff;
	border-right: 1px solid #fff
}

table#giohang input {
	margin: 5px 0px
}

table#giohang input.btn, .click_ajax {
	padding: 7px 25px;
	border: none;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	box-sizing: border-box;
	text-transform: capitalize;
	outline: 0;
	border-radius: 3px;
	border: 1px solid #2b669a;
	background: rgb(64, 137, 199);
	background: -moz-linear-gradient(top, rgba(64, 137, 199, 1) 25%, rgba(55, 122, 180, 1) 53%, rgba(45, 108, 163, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(64, 137, 199, 1) 25%, rgba(55, 122, 180, 1) 53%, rgba(45, 108, 163, 1) 100%);
	background: linear-gradient(to bottom, rgba(64, 137, 199, 1) 25%, rgba(55, 122, 180, 1) 53%, rgba(45, 108, 163, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4089c7', endColorstr='#2d6ca3', GradientType=0)
}

table#tt td {
	height: 30px
}

table#giohang input.btn:hover, .click_ajax:hover {
	text-shadow: 0 0 2px #000
}

table#tt td input.t {
	width: 300px;
	height: 20px;
	margin: 3px 0px 5px 0px;
	border: 1px solid #DDD
}

table#tt td textarea {
	width: 300px
}

table#tt span {
	color: red
}

#giohang {
	font-size: 12px
}

#giohang tr.tr_giohang {
	background: #f5f5f5;
	color: #000 !important;
	text-transform: uppercase
}

.giohang_img {
	float: left;
	margin: 5px
}

.ten_sp_gh {
	color: #2b669a;
	display: block;
	padding: 0 5px
}

.masp_sp_gh {
	color: #F00
}

.tr_giohang .tonggia_gh {
	color: #333
}

.tr_giohang .tonggia_gh span {
	font-size: 15px;
	font-family: 'Roboto-Bold';
	color: #F00
}

.tieude_thanhtoan {
	background: #eee;
	color: #333;
	font-size: 12px;
	font-family: 'Roboto-Bold';
	padding-left: 7px;
	line-height: 30px;
	margin-bottom: 6px;
	text-transform: uppercase
}

.frame_thanhtoan {
	float: right;
	width: 50%
}

.btn_thanhtoan {
	background: #da1b00;
	color: #FFF;
	margin-top: 3px;
	border: none;
	outline: 0;
	width: 100%;
	height: 25px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #666;
	border-radius: 3px;
	border: solid 1px #D68731
}

.bg_chuyenhang {
	background: url(../images/thanh-toan-khi-nhan.jpg) no-repeat top center;
	height: 500px
}

.shopping-cart {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 30px
}

.soluong_11 {
	border: 1px solid #CCC;
	float: left;
	height: 25px
}

.soluong {
	border: none;
	outline: 0;
	border-left: 1px solid #CCC;
	border-right: 1px solid #ccc;
	float: left;
	width: 50px;
	height: 100%;
	text-align: center
}

.soluong_11 .a_1 {
	float: left;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #000
}
